#landing-page {
	height: 600px;
	background: url(../images/stars-918777_1920.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}

h1 {
	color: #c0c0c0;
	font-family: 'Russo One', sans-serif;
	font-size: 65px;
	padding-top: 180px;
	text-align: center;
}
h2 {
	color: #c0c0c0;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	padding-top: 15px;
}
p {
	color: #c0c0c0;
	text-align: center;
}
#about {
	color: #c0c0c0;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding-top: 40px;
	text-decoration: none;
	cursor: pointer;
}
.scroll {
	text-decoration: none;
	color: #c0c0c0;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding-top: 200px;
}
.scroll-arrow {
	color: #c0c0c0;
	text-align: center;
	font-size: 24px;
}
#carousel-page {
	background-color: #c0c0c0;
	height: 700px;
}
.page-name {
	color: #003366;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	font-weight: 800;
	padding: 40px 0 0 0;
	text-align: center;
}
.blue-type {
	color: #003366;
	padding-top: 100px;
}
.blue-scroll-arrow {
	color: #003366;
	text-align: center;
	font-size: 24px;
}
.fade {
	background: white;
	width: 600px;
	height: 400px;
	margin: 20px auto;
}
.gray-background {
	background-color: #c0c0c0;
	padding: 0 0 20px 0;
}
#about-page {
	height: 600px;
	background: url(../images/stars-918777_1920.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}
.gray-background-about {
	background-color: #c0c0c0;
	position: absolute;
	top: 0;
	right: 10%;
	bottom: 0;
	left: 10%;
}
#about-page h1 {
	color: #003366;
}
#about-page h2 {
	color: #003366;
	padding: 60px 35px;
}
a {
	text-decoration: none;
	color: #003366;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding-top: 30px;
	cursor: pointer;
}
#links {
	position: absolute;
	top: 440px;
	left: 50%; 
	transform: translateX(-50%);
}
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}
.flex-child {
	margin: 20px;
    flex: 0 0 600px;
    height: 400px;
}
#landing-page h3 a {
	color: #c0c0c0;
}
@media only screen  and (min-width : 1000px) {
#landing-page {
	height: 825px;
}
h1 {
	font-size: 105px;
	padding-top: 225px;
	padding-bottom: 35px;
}
h2 {
	font-size: 35px;
	padding-top: 25px;
}
.scroll {
	padding-top: 100px;
}
#carousel-page {
	height: 775px;
}
.page-name {
	font-size: 45px;
	padding: 80px 0 0 0;
}
#other-creations .page-name {
	font-size: 45px;
/*	padding: 20px 0 10px 0;*/
}
.fade {
	margin: 50px auto;
}
.flex-container {
	align-content: space-around;
}
.flex-container img {
	width: 400px;
}
#about-page {
	height: 850px;
}
#links {
	top: 600px;
}
.flex-child {
/*	margin: 10px 10px 0px 10px;*/
    flex: 0 0 400px;
    height: 300px;
}
#carousel-page .blue-type {
	padding-top: 60px;
}
#other-creations {
	height: 850px;
}
/*#other-creations .blue-type {
	padding-top: 1px;
}	*/
#about-page h2 {
	padding: 25px 120px 100px 120px;
}
.enlarge-top:hover {
	transform:scale(2,2);
	transform-origin:0 0;
}
.enlarge-top-left:hover {
	transform:scale(2,2);
	transform-origin:100% 0;
}
.enlarge-bottom:hover {
	transform:scale(2,2);
	transform-origin:0 100%;
}
.enlarge-bottom-left:hover {
	transform:scale(2,2);
	transform-origin:100% 100%;
}