@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

h1 {
	color: #c0c0c0;
	font-family: 'Russo One', sans-serif;
	font-size: 65px;
	padding-top: 180px;
	text-align: center;
	z-index: 2;
}
h2 {
	color: #c0c0c0;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	padding-top: 15px;
	z-index: 2;
}
p {
	color: #c0c0c0;
	text-align: center;
	z-index: 2;
}
.stars {
	position: relative;
	background: #003366 url(../images/stars.png) repeat top center;
	z-index:0;
	height: 600px;
}
.twinkling{
	position: absolute;
	background: url(../images/twinkling.png) repeat top center;
	z-index:1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	display:block;

	-moz-animation:move-twink-back 200s linear infinite;
	-ms-animation:move-twink-back 200s linear infinite;
	-o-animation:move-twink-back 200s linear infinite;
	-webkit-animation:move-twink-back 200s linear infinite;
	animation:move-twink-back 200s linear infinite;
}
#about {
	color: #c0c0c0;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding-top: 40px;
	text-decoration: none;
	cursor: pointer;
}
.scroll {
	text-decoration: none;
	color: #c0c0c0;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding-top: 200px;
}
.scroll2 {
	text-decoration: none;
	color: #c0c0c0;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding-top: 200px;
}
.scroll-arrow {
	color: #c0c0c0;
	text-align: center;
	font-size: 24px;
}
#carousel-page {
	background-color: #c0c0c0;
	height: 700px;
}
.page-name {
	color: #003366;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	font-weight: 800;
	padding: 40px 0 0 0;
	text-align: center;
}
.blue-type {
	color: #003366;
	padding-top: 100px;
}
.blue-scroll-arrow {
	color: #003366;
	text-align: center;
	font-size: 24px;
}
.fade {
	background: white;
	width: 600px;
	height: 400px;
	margin: 20px auto;
}
.gray-background {
	background-color: #c0c0c0;
	padding: 0 0 20px 0;
}
#about-page {
	height: 600px;
	background-size: cover;
	position: relative;
}
.gray-background-about {
	background-color: #c0c0c0;
	position: absolute;
	top: 0;
	right: 10%;
	bottom: 0;
	left: 10%;
}
#about-page h1 {
	color: #003366;
}
#about-page h2 {
	color: #003366;
	padding: 60px 35px;
}
a {
	text-decoration: none;
	color: #003366;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding-top: 30px;
	cursor: pointer;
}
#links {
	position: absolute;
	top: 440px;
	left: 50%; 
	transform: translateX(-50%);
}
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}
.flex-child {
	margin: 20px;
    flex: 0 0 600px;
    height: 400px;
}
#landing-page h3 a {
	color: #c0c0c0;
}
@media only screen  and (min-width : 1000px) {
.stars {
	height: 825px;
}
h1 {
	font-size: 105px;
	padding-top: 225px;
	padding-bottom: 35px;
}
h2 {
	font-size: 35px;
	padding-top: 25px;
}
.scroll {
	padding-top: 100px;
}
.scroll2 {
	padding-top: 0px;
}
#carousel-page {
	height: 775px;
}
.page-name {
	font-size: 45px;
}
.fade {
	margin: 50px auto;
}
.flex-container {
	align-content: space-around;
}
.flex-container img {
	width: 400px;
}
#about-page {
	height: 850px;
}
#links {
	top: 600px;
}
.flex-child {
    flex: 0 0 400px;
    height: 300px;
}
#carousel-page .blue-type {
	padding-top: 60px;
}
#other-creations {
	height: 850px;
}
#other-creations .page-name {
	padding: 20px 0 10px 0;
}
#other-creations h3 a {
	padding-top: 0;
}
#about-page h2 {
	padding: 25px 120px 100px 120px;
}
.enlarge-top:hover {
	transform:scale(2,2);
	transform-origin:0 0;
}
.enlarge-top-left:hover {
	transform:scale(2,2);
	transform-origin:100% 0;
}
.enlarge-bottom:hover {
	transform:scale(2,2);
	transform-origin:0 100%;
}
.enlarge-bottom-left:hover {
	transform:scale(2,2);
	transform-origin:100% 100%;
}